<h1>Welcome to Game Arena</h1>
<p>Your one stop to know everything you wanted to know about PC games.</p>
<p>Please select a game from below to view its details</p>
<div>
  <% @games.each do |game| %>
  <div><a href="game/<%= game.id.to_s%>"><%= game.name %></a></div>
  <% end %>
 </div>
<div>
  A game that we don't know about? Please, let us <a href="newgame">know.</a>
</div>
<div>
  This website is designed, developed and maintained by Pradyumna Agrawal (pradyumna@cmu.edu)
</div>