<h1>Welcome to Game Arena</h1>
<p>Your one stop to know everything you wanted to know about PC games.</p>
<p>Please select a game from below to view its details</p>
<div>
  <% @games.each do |game| %>
  <div><a href="<%= "games/show/" + game.id.to_s%>"><%= game.name %></a></div>
  <% end %>
 </div>
