<h1><%=@game.name%></h1>
<p><%= @game.description %></p>
<p>Please do leave some comments about this game!</p>
<form action="" method="POST">
  <table>
  <tr>
    <td>Username:</td>
    <td><input name="user_name"/></td>
  </tr>
  <tr>
    <td><input type="submit"></td>
  </tr>
  </table>
</form>
<a href="/games">Home</a>